@@include('modules/header.html', {"title": "Home", "class": ""})

@@include('modules/banner.html')

<div class="main">
    <section class="galery-wrappes container">
        <div class="galery-wrappes__left">
            <div class="galery-wrappes__left_image">
                <div class="galery-wrappes__left_box">
                    <h3>Of the nature<br/>of sand industry</h3>
                    <div class="star">
                        <img src="assets/images/star-icon.png">
                        <img src="assets/images/star-icon.png">
                        <img src="assets/images/star-icon.png">
                        <img src="assets/images/star-icon.png">
                        <img src="assets/images/star-icon.png">
                    </div>
                    <p>The elegance of a natural feeling</p>
                </div>
            </div>
        </div>
        <div class="galery-wrappes__right">
            <div class="galery-wrappes__right_content">
                <h3>tourist attraction</h3>
                <p>images Sell images in ways that meet the needs of various users and even change</p>
                <p>has been published by leading stroke intellec tual change.</p>
                <div class="list-image">
                    <img src="assets/images/img-1102.jpg">
                    <img src="assets/images/img-1103.jpg">
                    <img src="assets/images/img-1104.jpg">
                    <img src="assets/images/img-1105.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="background-image-wrappes">
        <h3>Of the nature of sand</h3>
        <p>images in ways that meet the needs of various users</p>
        <img src="assets/images/lock-icon.png" />
        <p class="stripe">with many content developers</p>
    </section>

    <section class="list-items">

    </section>
</div>

@@include('modules/footer.html')